/*스타일 초기화*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* padding과 width를 같이 줬을 때 사이즈가 늘어나는 것을 방지하는 애 */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;          /* 브라우저 스타일 무시해 ~! */
}

strong {
    font-weight: inherit;
}
em, address {
    font-style: normal;    /*기울지마라*/
}
ol, ul, li {
    list-style: none;  /*앞에 기호 빼기*/
}

a{
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
}


fieldset {
    border: none;
}
legend  {
    display: none;
}
input, select, textarea {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
}
.ctn_pr05 .search .sch_wrap input[type="submit"] {
    cursor: pointer;
}
table caption {
    display: none;
}
table th {
    font-weight: inherit;
}
