@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@font-face {
    font-family: "Pretendard";
    src: url('../font/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

/*pretendard*/
