@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);


body, html {
    font-weight: 300;
}
.main {
    height: 100dvh;
}
.main .ctn_wrapper {
    position: relative;
}

.main .slogan{
    position: relative;
    margin: 40px 0 0 0;
}
.main .slogan h2 {
    font-size: 13rem;
    line-height: 1.3;
    font-weight: 400;
    position: relative;
    width: 87%;
}
.main .slogan h2::before {
    position: absolute;
    content: "";
    top: 52%;
    transform: translateY(-50%);
    left: 510px;
    width: 18%;
    height: 5px;
    background-color: var(--txt-c);
}

.main .slogan .text {
    display: block;
    position: absolute;
    right: 210px;
    top: 114px;
    width: 30%;
    text-align: right;
}
.main .slogan .text strong {
    display: inline-block;
    padding: 7px 38px;
    background-color: var(--main2-c);
    border-radius: 30px;
    margin: 0 0 17px 0 ;
}
.main .slogan .text p {
    opacity: 0.4;
}
.main .scroll {
    position: absolute;
    font-size: 15px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 18px 7px 18px;
    background-color: var(--main2-c);
    border-radius: 30px;
    width: 432px;
    overflow: hidden;
}
.main .scroll span {
    white-space: nowrap;
    display: block;
    animation: scroll_roll 4.3s  infinite linear;
}

@keyframes scroll_roll {
    0% {transform:  translateX(-31%);}
    100% {transform:  translateX(-92%);}
}
.main .photo { 
    position: absolute;
    right: calc(30px + var(--ctn-mar));
    bottom: 7%;
    width: 13.75%;
    height: 24.53%;
}
.main .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: spin 6s infinite linear;

}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}

.about {
    background-color: var(--txt-c);
    border-radius: 20px;
    padding: 95px 0 142px 0;
    color: var(--main2-c);
    margin: 0 var(--ctn-mar);
}
.about .greetings h2 {
    font-size: 32px;
    line-height: 1.3;
}

.about .list {
    display: flex;
    margin-top: 90px;
    flex-wrap: wrap;
}
.about .list .tit {
    display: flex;
    margin: 0 0 20px 0;
    align-items: flex-end;
    gap: 10px;
}
.about .list .profile,
.about .list .career,
.about .list .skills {
    width: 33.33%;
}
.about .list .tit h3 {
    font-size: 25px;
}
.about .list .name {
    margin: 0 0 34px 0;
    font-size: 22px;
}
.about .list dl dt{
    float: left;
}
.about .list dl dd {
    margin: 0 0 9px 73px;
    opacity: 0.5;
}
.about .list .career dl {
    display: flex;
    gap: 0 10px;
    flex-direction: column;
}
.about .list .career dl dd {
    margin: 0 0 9px 0;
    opacity: 0.5;
}

.about .list .skills > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.about .list .skills ul li span{
    display: inline-block;
    padding: 6px 22px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
